.swiper-slide {
  display: block;
}

.tutorial-slides-container {

  height: 100% !important;
}

.complete-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

  bottom: 20px;
}

.slide-image {
  max-height: 50%;
  max-width: 50%;
  margin: 36px 0;
  pointer-events: none;
}