<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="news">
        <ion-icon name="newspaper"></ion-icon>
        <ion-label>News</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="social-distance-ar">
        <ion-icon name="aperture"></ion-icon>
        <ion-label>Social Distance</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
